//
//  release.example.xcconfig
//  Sano
//
//  Created by Doan Le Thieu on 2/12/19.
//  Copyright © 2019 Doan Le Thieu. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = CODE_SIGN_IDENTITY_VALUE
PROVISIONING_PROFILE_SPECIFIER = DISTRIBUTION_PROFILE
DEVELOPMENT_TEAM = DEVELOPMENT_TEAM_VALUE
